<section id="footer" class="mx-5">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Proizvodi</h5>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Tko smo mi?</h5>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Kontakt</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item">
            <a href="https://www.fiverr.com/share/qb8D02"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li class="list-inline-item"></li>
          <li class="list-inline-item">
            <a href="https://www.fiverr.com/share/qb8D02"
              ><i class="fa fa-instagram"></i
            ></a>
          </li>
          <li class="list-inline-item"></li>
          <li class="list-inline-item"></li>
        </ul>
      </div>
      <hr />
    </div>
    <div class="row">
      <div
        class="
          col-xs-12 col-sm-12 col-md-12
          mt-2 mt-sm-2
          text-center text-white
        "
      >
        <p class="h6">© OPG <a class="text-green ml-2">Jurković Ivan</a></p>
      </div>
      <hr />
    </div>
  </div>
</section>
<!-- ./Footer -->
