<div class="cardKosara container mt-5">
  <p style="font-size: 25px" class="text-center pt-1">
    Dodano: <a>{{ dodano() }}</a> | Ukupno:
    {{ getSumPrepJaja() + getSumKiselaPrepJaja() + getSumRezanci() }}
    kn
  </p>
</div>

<div class="card mx-auto mt-5">
  <h5 class="card-title text-center mt-2 mx-2">Svjeza prepelicja jaja</h5>
  <img class="img-fluid jajcaSlika mx-auto mt-2" [src]="jajca" />
  <div class="card-body">
    <p style="float: right; font-size: 18px" class="mt-4">Količina:</p>
  </div>
  <ul
    class="list-group list-group-flush tekst"
    *ngFor="let x of prepelicja_jaja; let i = index"
  >
    <li class="list-group-item">
      <strong>{{ x.proizvod }}</strong> --
      <a style="font-size: 34px">{{ x.cijena }} kn</a>
      <input
        type="number"
        min="0"
        class="form-control"
        [(ngModel)]="x.kolicina"
      />
      <button
        (click)="DodajJaja(x.proizvod, x.kolicina, x.cijena)"
        class="btn btn-success dodaj mx-5"
        type="button"
      >
        Dodaj u košaricu
      </button>
    </li>
  </ul>
  <span style="font-size: 20px; color: red" class="text-center mt-4">{{
    feedback
  }}</span>
  <ul class="mt-2 pt-4 kosarica" style="font-size: 20px">
    Ukupno:
    <strong>{{ getSumPrepJaja() }} kn</strong>
  </ul>
</div>
<br /><br />

<div class="card mx-auto mt-5">
  <h5 class="card-title text-center mt-2 mx-2">
    Ukiseljena prepeličja jaja u domaćoj povrtnoj marinadi
  </h5>
  <img class="img-fluid jajcaSlika mx-auto mt-2" [src]="ukis" />
  <div class="card-body">
    <p style="float: right; font-size: 18px" class="mt-4">Količina:</p>
  </div>
  <ul
    class="list-group list-group-flush tekst"
    *ngFor="let x of Ukiseljena_prepelicja_jaja; let i = index"
  >
    <li class="list-group-item">
      <strong>{{ x.proizvod }}</strong> --
      <a style="font-size: 34px">{{ x.cijena }} kn</a>
      <input
        type="number"
        min="0"
        class="form-control"
        [(ngModel)]="x.kolicina"
      />
      <button
        (click)="dodajUkisJaja(x.proizvod, x.kolicina, x.cijena)"
        class="btn btn-success dodaj mx-5"
        type="button"
      >
        Dodaj u košaricu
      </button>
    </li>
  </ul>
  <ul class="mt-2 pt-4 kosarica" style="font-size: 20px">
    Ukupno:
    <strong>{{ getSumKiselaPrepJaja() }} kn</strong>
  </ul>
</div>
<br /><br />

<div class="card mx-auto mt-5">
  <h5 class="card-title text-center mt-2 mx-2">Bakini domaći rezanci</h5>
  <img class="img-fluid jajcaSlika mx-auto mt-2" [src]="rez" />
  <div class="card-body">
    <p style="float: right; font-size: 18px" class="mt-4">Količina:</p>
  </div>
  <ul
    class="list-group list-group-flush tekst"
    *ngFor="let x of rezanci; let i = index"
  >
    <li class="list-group-item">
      <strong>{{ x.proizvod }}</strong> --
      <a style="font-size: 34px">{{ x.cijena }} kn</a>
      <input
        type="number"
        min="0"
        class="form-control"
        [(ngModel)]="x.kolicina"
      />
      <button
        (click)="dodajRezanci(x.proizvod, x.kolicina, x.cijena)"
        class="btn btn-success dodaj mx-5"
        type="button"
      >
        Dodaj u košaricu
      </button>
    </li>
  </ul>
  <ul class="mt-2 pt-4 kosarica" style="font-size: 20px">
    Ukupno:
    <strong>{{ getSumRezanci() }} kn</strong>
  </ul>
</div>

<br /><br /><br /><br />
