<div class="home">
  <h1 class="text-center mt-5" style="font-family: Arial, sans-serif">
    PREPELIČJA JAJA
  </h1>
  <div data-aos="fade-right">
    <a data-lightbox="photos"><img class="KokosSlika" [src]="imageSrc" /></a>
  </div>

  <br /><br /><br />

  <hr class="mx-5 mb-5 line" />

  <div class="photo-gallery">
    <div class="container">
      <div class="intro"></div>
      <div class="row photos">
        <div
          data-aos="fade-right"
          class="col-sm-6 col-md-4 col-lg-3 item mx-auto my-2"
        >
          <a data-lightbox="photos"><img class="img-fluid" [src]="Slika1" /></a>
        </div>

        <div
          data-aos="fade-left"
          class="col-sm-6 col-md-4 col-lg-3 item mx-auto my-2"
        >
          <a data-lightbox="photos"><img class="img-fluid" [src]="Slika3" /></a>
        </div>
      </div>

      <div class="row photos">
        <div
          data-aos="fade-right"
          class="col-sm-6 col-md-4 col-lg-3 item mx-auto my-2"
        >
          <a data-lightbox="photos"
            ><img class="img-fluid ptica" [src]="Slika2"
          /></a>
        </div>

        <div
          data-aos="fade-left"
          class="col-sm-6 col-md-4 col-lg-3 item mx-auto my-2"
        >
          <a data-lightbox="photos"><img class="img-fluid" [src]="Slika4" /></a>
        </div>
      </div>

      <div
        class="textarea mt-5 mx-auto"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <p style="font-weight: bold; font-size: 35px; text-align: left">
          10 razloga zbog kojih ćete se zaljubiti u Gorski kotar<br />
          (2. dio) -by RIBAFISH, naša priča o OPG-u i proizvodima
        </p>

        <p style="font-size: 20px; text-align: left">
          Domagoj Jakopović, poznatiji kao RIBAFISH objavio je zanimljiv
          putopisni tekst koji govori o ljepotama Gorkog kotara i bogatoj ponudi
          našeg kraja. Tako je u drugom dijelu svoga putopisa svima Vama "dao"
          deset razloga zbog kojić vrijedi doći k nama u Gorski kotar te zbog
          čega ćete se zaljubiti u naš kraj.<br /><br />

          Dio toga je i naš OPG Jurković na kojem su nas posjetili Ribafish i
          Kasandra, a kušali su i naše proizvode, od čega su posebno zadovoljni
          bili ukiseljenim prepeličjim jajima u domaćoj marinadi punoj tajni
          naše mame.<br /><br />
        </p>
        <div class="col-sm-6 col-md-4 col-lg-3 item mx-left my-2">
          <a data-lightbox="photos"><img class="img-fluid" [src]="Slika5" /></a>
        </div>
      </div>
      <div
        class="textarea_2 mt-5 mx-auto"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <p style="font-weight: bold; font-size: 25px">
          "OPG Jurković, Ravna Gora"
        </p>

        <p style="font-size: 20px; text-align: left">
          Iskreno, na kraju putovanja smo čitajući plan puta zamišljali da
          dolazimo u nekakvu sitnu malu trgovinu u malenoj Ravnoj Gori, ali i
          mjesto i pogotovo OPG Jurković su nas zauvijek osvojili. Ravna Gora,
          Meka drvne industrije, nakon propasti Radina i dolaska Talijana s
          novim pilanama je puno veće mjesto nego što očekujete, a kuća obitelji
          Jurković djeluje poput najmodernijih zaprešićkih zdanja poznatijih pod
          nazivom Kanadske kuće ili nekako slično. Velika obitelj nas je
          dočekala, uvela u svoj dom, Dživo je netom pojeo dvije igračke od pesa
          koji bi pojeo njega da ga nisu sklonili na vrijeme, a onda smo nakon
          sat proletjelog vremena konačno počeli pričati i o onome zbog čega smo
          došli - prepeličjim jajima...
        </p>

        <p style="font-size: 20px; text-align: left">
          Uzgoj prepelica odvija se u garaži iza kuće, i u biti je samo hobi uz
          stalne poslove, a najviše pada na pleća djedu koji je mislio da će
          odmarati u mirovini. Naivac! No, ono što i kako se igraju s jajima
          ovih živopisnih ptičica, najmanjih kokoši, koje ovdje žive u
          maksimalnom komforu, stvarno je za posebnu priču, koju ćemo za sada
          ipak tek ugurati kao šećer na kraju ove priče o Gorskom kotaru.
        </p>
        <p style="font-size: 20px; text-align: left">
          Tjestenina, klasična, kao i ona bezglutenska, sama jaja i ono što me
          totalno dojmilo, ukiseljena jaja sa salatom, definitivno imaju mjesta
          na svakom stolu širom svijeta! A počelo je tako što je djed zbog
          srčanih problema počeo nabavljati upravo prepeličja jaja, pa kad su
          shvatili da ima mjesta za prepelice u garaži - i sami krenuli u uzgoj.
          Dakle, u prvom planu je zdravlje, kako nam pričaju, od prepeličjih
          jaja se ne može dobiti salmonela, pet puta je nutritivno vrjednije od
          kokošjeg, nakon 42 dana nesu prva jaja, pilići se legu nakon 18. I sve
          bi to bilo sjajno da prepelice ne jedu apsolutno uvijek, govori nam
          djed kroz smijeh...
        </p>

        <p style="font-size: 20px; text-align: left">
          Jaja su prije prodavali na sajmovima širom županije, a danas samo
          dostavom te subotom u Ravnoj Gori na zelenoj tržnici. Natjerali su me
          da pojedem sirovo jaje jer je tako najzdravije, pa sam i zapjevao "Kad
          bi ove ruke male...", ali uz pohana i kuhana jaja koja smo probali,
          izdvajam senzacionalna ukiseljena prepeličja jaja u salati.
        </p>

        <p style="font-size: 20px; text-align: left">
          Ljudi, ovo još niste probali, jedino je RougeMarin doma imao nešto
          slično u zadnje vrijeme, ali s kokošjim jajima. Fenomenalan prilog,
          dok si ne skuhamo tjesteninu, ovo je prvak Ravne Gore i okolice!
        </p>
        <br /><br />

        <div
          class="textarea_3"
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
        >
          <h4>OPG Jurković, Ravna Gora</h4>
          <h4>Radinovo naselje 17</h4>
          <h4>
            Kontakt: Siniša Jurković 098/186-1160 / Nika Troha 095/817-6441
          </h4>
          <br />

          <p style="font-size: 20px; text-align: left">
            Pozdravljamo se s Jurkovićima (nisu u rodu Mirjani s početka teksta)
            i vraćamo u grad. Gorani su prekrasni, gostoljubivi, hrabri ljudi
            koji su ostali na djedovini i na daju da išta ugrozi prirodu s kojom
            i od koje žive. Dajte im priliku i ne žurite u Rijeku i Istru, nego
            se probudite u šumi. Bit će vam stvarno, stvarno lijepo...
          </p>
        </div>
        <br /><br />

        <div
          class="textarea_4"
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
        >
          <h3>
            Posjet Domagoja zvanog Ribafish i predivne Kasandre našem OPG-u
          </h3>
          <p style="font-size: 20px; text-align: left">
            Ovako je to izgledalo na našem OPG-u jednog četvrtka (06.05.2021.)
            kada smo ugostili divne i drage ljude - Domagoja zvanog Ribafish i
            predivnu Kasandru! Bilo je tu svega. Ukiseljena prepeličja jaja u
            domaćoj povrtnoj marinadi, široki i uski Bakini domaći rezanci,
            svježa prepeličja jaja, pohana jaja japanske prepelice...
          </p>
          <br />

          <div
            data-aos="fade-up"
            data-aos-anchor-placement="top-bottom"
            class="col-sm-6 col-md-4 col-lg-3 item mx-auto"
          >
            <a data-lightbox="photos"
              ><img class="img-fluid_" [src]="Slika6"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
