<div class="container mt-5 p-3 rounded cart">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="product-details mr-2">
        <div class="d-flex flex-row align-items-center">
          <i class="fa fa-long-arrow-left"></i
          ><a href="proizvodi" class="ml-2 mx-3">Nastavi sa kupovinom</a>
        </div>
        <hr />
        <h6 class="mb-0">Košarica</h6>
        <div class="d-flex justify-content-between">
          <span
            >Imas <a>{{ getKolicina() }}</a> proizvoda u košarici</span
          >
        </div>
        <div
          class="
            d-flex
            justify-content-between
            align-items-center
            mt-3
            p-2
            items
            rounded
          "
          *ngFor="let x of kosarica; let i = index"
        >
          <div class="d-flex flex-row">
            <div class="ml-2">
              <span style="font-size: 20px" class="font-weight-bold d-block">{{
                x.proizvod
              }}</span
              ><span style="font-size: 14px" class="spec"
                >Količina: {{ x.kolicina }} kom.</span
              >
            </div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <span class="d-block">Cijena proizvoda: {{ x.cijena }} kn</span>
            <span
              style="font-size: 20px"
              class="d-block ml-5 font-weight-bold mx-4"
              >{{ x.cijena * x.kolicina }} kn </span
            ><i
              (click)="onDelete(x.id)"
              class="fa trashCan fa-trash-o ml-3 text-black-50"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="payment-info">
        <div class="d-flex justify-content-between align-items-center">
          <span>Detalji</span>
        </div>
        <span class="type d-block mt-3 mb-1">Tip plaćanja</span
        ><label class="radio">
          <input
            type="radio"
            name="card"
            value="payment"
            checked
            (click)="showDiv('mastercard')"
          />
          <span class="mx-1"
            ><img
              width="30"
              src="https://img.icons8.com/color/48/000000/mastercard.png"
          /></span>
        </label>
        <label class="radio">
          <input
            type="radio"
            name="card"
            value="payment"
            (click)="showDiv('visa')"
          />
          <span class="mx-1"
            ><img
              width="30"
              src="https://img.icons8.com/officel/48/000000/visa.png"
          /></span>
        </label>

        <label class="radio">
          <input
            type="radio"
            name="card"
            value="payment"
            (click)="showDiv('pouzece')"
          />

          <span class="mx-1"
            ><img
              width="30"
              src="https://image.flaticon.com/icons/png/512/1554/1554401.png"
          /></span>
        </label>
        <div *ngIf="currDiv == 'visa'">Visa</div>
        <div *ngIf="currDiv == 'mastercard'">Mastercard</div>
        <div *ngIf="currDiv == 'pouzece'">Pouzeće</div>
        <div>
          <label class="credit-card-label">Ime i prezime</label
          ><input
            type="text"
            class="form-control credit-inputs"
            placeholder="Name"
          />
        </div>

        <div
          *ngIf="
            currDiv == 'visa' ||
            currDiv == 'mastercard' ||
            currDiv !== 'pouzece'
          "
        >
          <label class="credit-card-label">Broj kartice</label
          ><input
            type="text"
            class="form-control credit-inputs"
            placeholder="0000 0000 0000 0000"
          />
        </div>
        <div class="row">
          <div
            class="col-md-6"
            *ngIf="
              currDiv == 'visa' ||
              currDiv == 'mastercard' ||
              currDiv !== 'pouzece'
            "
          >
            <label class="credit-card-label">Datum isteka</label
            ><input
              type="text"
              class="form-control credit-inputs"
              placeholder="12/24"
            />
          </div>
          <div
            class="col-md-6"
            *ngIf="
              currDiv == 'visa' ||
              currDiv == 'mastercard' ||
              currDiv !== 'pouzece'
            "
          >
            <label class="credit-card-label">CVV</label
            ><input
              type="text"
              class="form-control credit-inputs"
              placeholder="342"
            />
          </div>
        </div>
        <hr class="line" />

        <div class="d-flex justify-content-between information">
          <span style="font-size: 20px">Ukupno: </span
          ><span style="font-size: 20px">{{ getSum() }} kn</span>
        </div>
        <button
          class="btn btn-primary btn-block d-flex justify-content-between mt-3"
        >
          <span class="mx-4"
            >Plaćanje<i class="fa fa-long-arrow-right ml-1 mx-3"></i
          ></span>
        </button>
      </div>
    </div>
  </div>
</div>
